* {
	box-sizing: border-box;
}

p {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

body {
  background: #0d6c67;
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
  font-family: 'Open Sans', sans-serif;
}

.container {
  background: #0d6c67;
  text-align: left;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 5px;
	margin: 45px auto;
  box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
}

.item {
  padding: 15px;
  margin: 5px;
  background: #77efc7;
  border-radius: 3px;
}

.item a:link, #nav a:visited {
  color: #fff;
  background: #77efc7;
}

.item a:hover, #nav a:active {
  color: #fff;
  background: #1eaa8e;
}

.caption {
  font-family: 'Lato', sans-serif;;
  font-style: italic;
  color: black;
  font-size: 0.8em;
  margin-top: 0;
  text-align: left;
}

.authorbox {
  font-size: .7em;
  font-style: italic;
}

.pullquote {
  font-style: italic;
}

#footer {
  font-family: 'Lato', sans-serif;;
  color: black;
  font: 0.8em;
  border-top: 1px solid black;

}

img {
  border: none;
}

@media screen and (min-width: 700px){

    .container {
        display: flex;
    }

    .menu-trigger{
        display: none;
    }

    header h1 {
        order: 1;
    }

    .container {
        order: 2;
    }

}
