p {
  color: #666666;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #0d6c67;
  text-align: center;
}

#container {
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
}

#nav {
  padding: 0;
  list-style-type: none;
}

#nav li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
}

#nav a:link, #nav a:visited {
  display: block;
  color: #fff;
  background-color: #77efc7;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: Helvetica, Arial, sans-serif;
}

#nav a:hover, #nav a:active {
  background-color: #1eaa8e;
}

.caption {
  font-family: 'Lato', sans-serif;;
  font-style: italic;
  color: black;
  font-size: 0.8em;
  margin-top: 0;
  text-align: center;
}

#footer {
  font-family: 'Lato', sans-serif;;
  color: black;
  font: 0.8em;
  border-top: 1px solid black;
}

img {
  border: none;
}
